.wrapper-content{
   width: 1232px;
   height: 820px;
   margin-top: 23px;
}
.table{
   width: 100%;
   margin-top: 15px;
   border-collapse: collapse;
}
.table-head{
   color: #fff;
   background-color: #474955;
   border: 1px solid #474955;
}
.col-title{
   height: 54px;
}
.text{
   position: relative;
}
.text::after{
   content: "";
   width: 8px;
   height: 8px;
   border:  solid #fff;
   border-width: 1px 0 0 1px;
   transform: translate(-50%, -50%) rotate(-135deg);
   position: absolute;
   top: 4px;
   right:-40px;
}
.col-1{
   width: 110px;
   padding-right: 30px;
}
.col-2{
   width: 529px;
}
.col-3{
   width: 432px;
}
.row > td{
   height: 87px;
   padding: 10px 15px 15px 11px;
   text-align: center;
   border: 1px solid #E3E6EC;
}